body
{
    background-color: darkgrey;
}

.playground
{

    display: flex;
    flex-direction: row;
}

.editors
{
    width: fit-content;
}

.editArea
{
    overflow: scroll hidden;
    max-height: 20rem;

}

.results
{
    min-width: 50%
}
.viewCode
{
    width: 100%;
    min-height: 80%;
    background-color: white;
    margin-left: 10rem;
    border: solid 3px grey;
    border-radius: 1rem;
    overflow: auto;

}

.editorsTitles
{
    margin-top: 30px;
}

.console
{
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    overflow-y: auto;
    font-family: monospace;
    margin-left: 10rem;
}

textarea[is="highlighted-code"] { padding: 8px; }

#toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: row;
}

.gpt_answer
{
    max-width: inherit;
    max-height: 30rem;
    min-height: 30rem;
    background-color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: black;
    overflow: scroll;
}

.gpt_answer code
{
    color: blue;
}

.toast {
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    animation: fadeIn 0.5s ease-in-out;


}

.submit_gpt
{
    margin-top: 0.5rem;
    color:black;
    background-color: #4cd213;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(50px); }
    to { opacity: 1; transform: translateY(0); }
}